In [ ]:
import pandas as pd
import numpy as np

In [ ]:
titanic_data = pd.read_csv('https://raw.githubusercontent.com/zuzannabrauer/machineLearning/master/lab5/titanic_data.csv', skiprows = 17, index_col = False, names = ['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'])
titanic_data = titanic_data.replace('?', np.NaN)
titanic_data

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,NaN,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,NaN,328,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.225,NaN,C,NaN,304,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27,0,0,2670,7.225,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29,0,0,315082,7.875,NaN,S,NaN,NaN,NaN

<h3>Oznaczenia kolumn w tabeli z danymi</h3>

* pcalss - numer klasy, w której podróżował pasażer
* survived - czy dana osoba przeżyła (0 = Nie, 1 = Tak)
* name - imię i nazwisko
* sex - płeć
* age - wiek w momencie zaokrętowania
* sibsp - ilość rodzenśtwa/partenrów pasażera obecnych na pokładzie
* parch - ilość rodziców/dzieci pasażera obecnych na pokładzie
* ticket - numer biletu
* fare - opłata za bilet (wyrażona w funtach brytyjskich)
* cabin - numer identyfikacyjny kabiny
* embarked - port, w którym pasażer się zaokrętował (C = Cherbourg; Q = Queenstown; S = Southampton)
* boat - numer identyfikacyjny łodzi ratunkowej
* body - numer identyfikacyjny ciała
* home.dest - destynacja pasażera

In [ ]:
for column in titanic_data:
  print('Liczba etykiet zmiennej '  + column + ': ' + format(len(titanic_data[column].unique())))

Liczba etykiet zmiennej pclass: 3
Liczba etykiet zmiennej survived: 2
Liczba etykiet zmiennej name: 1307
Liczba etykiet zmiennej sex: 2
Liczba etykiet zmiennej age: 99
Liczba etykiet zmiennej sibsp: 7
Liczba etykiet zmiennej parch: 8
Liczba etykiet zmiennej ticket: 929
Liczba etykiet zmiennej fare: 282
Liczba etykiet zmiennej cabin: 187
Liczba etykiet zmiennej embarked: 4
Liczba etykiet zmiennej boat: 28
Liczba etykiet zmiennej body: 122
Liczba etykiet zmiennej home.dest: 370

In [ ]:
print('Liczba wszystkich pasażerów: ' + format(len(titanic_data['name'].unique())))

Liczba wszystkich pasażerów: 1307

<h3>Podział zmiennych ze względu na kardynalność</h3>
Poniższa klasyfikacja przedstawia podział zmiennych na grupy według mocy ich zbiorów (kardynalności).Jak możemy zauważyć, więcej zmiennych posiada dużą kardynalność. Przy podziale natknęłam się na wątpliwości dotyczące zmiennej boat, jej moc wynosi tylko 28 co nie jest ani małą ani dużą wartością (gdyby takich zmiennych było więcej to może potrzebna by była trzecia kategoria ze zbiorami o średniej mocy ?), jednak końcowo podjęłam decyzję o jej klasyfikacji do grupy o małej kardynalności.

1. Zmienne o małej mocy zbioru:
* pclass
* survived
* sex
* sibsp
* parch
* embarked

2. Zmienne o dużej mocy zbioru:
* name
* age
* ticket
* fare
* cabin
* boat
* body
* home.dest

In [ ]:
print('Liczba unikalnych etykiet zmiennej cabin: {}'.format(len(titanic_data['cabin'].unique())))

Liczba unikalnych etykiet zmiennej cabin: 187

In [ ]:
titanic_data['cabinReduced'] = titanic_data['cabin'].astype(str).str[0]
titanic_data[['cabin', 'cabinReduced']].head(20)

      cabin cabinReduced
0        B5            B
1   C22 C26            C
2   C22 C26            C
3   C22 C26            C
4   C22 C26            C
5       E12            E
6        D7            D
7       A36            A
8      C101            C
9       NaN            n
10  C62 C64            C
11  C62 C64            C
12      B35            B
13      NaN            n
14      A23            A
15      NaN            n
16  B58 B60            B
17  B58 B60            B
18      D15            D
19       C6            C

In [ ]:
for column in titanic_data:
  print('Liczba etykiet zmiennej '  + column + ': ' + format(len(titanic_data[column].unique())))

Liczba etykiet zmiennej pclass: 3
Liczba etykiet zmiennej survived: 2
Liczba etykiet zmiennej name: 1307
Liczba etykiet zmiennej sex: 2
Liczba etykiet zmiennej age: 99
Liczba etykiet zmiennej sibsp: 7
Liczba etykiet zmiennej parch: 8
Liczba etykiet zmiennej ticket: 929
Liczba etykiet zmiennej fare: 282
Liczba etykiet zmiennej cabin: 187
Liczba etykiet zmiennej embarked: 4
Liczba etykiet zmiennej boat: 28
Liczba etykiet zmiennej body: 122
Liczba etykiet zmiennej home.dest: 370
Liczba etykiet zmiennej cabinReduced: 9

<h3>Redukcja zmiennej cabin</h3>
Redukcja zmiennej cabin pozwoliła na zmniejszenie mocy zbioru o 95%, co jest naprawdę bardzo dobrym wynikiem. Mogliśmy tak postąpić ponieważ do naszego modelu nie potrzebujemy dokładnego numeru kabiny, a jedynie jej przybliżengo położenia (pokład i umiejscowienie na nim), a to wszystko jesteśmy w stanie wywnioskować z samej litery na początku numeru kabiny. Ponadto pierwsza litera daje nam informacje o klasie (im litera bliżej A tym wyższa klasa). Z powyższych informacji wnioskuje, że nie powinno to wpływać na dalsze analizy i nie dawać żadnych negatywnych skutków.

In [ ]:
from google.colab import  drive
drive.mount('/drive')
titanic_data.to_csv('/drive/My Drive/Colab Notebooks/Data/titanic_data_cabin_reduced.csv')

Mounted at /drive